body {
  height: 100vh;
  width: 100vw;
  background: url('https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2019/11/nacon-asymmetric.jpeg');
    background-size: cover;
    background-position: center ;
    position: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
