
.creategame {
    background-image: url('../../jpg/8.jpg');
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    position:absolute;
    text-align:center;
    font-weight: 30;
    /* background-position: center center;
   background-size:cover;
   background-attachment: fixed;
   display:grid; */

}

.wrapper {
    height: 50px;
    text-align: center;
    padding-top: 05px;
}

.container {
    background: linear-gradient(100deg, #ffffff77 30%, #0429fd 150%);
    border-radius: 2%;
    /* background: rgba(255, 255, 255, 0.411); */
    margin: auto;
    height: 800px;
    width: 500px;
}

.title {
    font-size: 35px;
    margin: 0px;
    padding: 10px;
}

.textarea {
    max-height: 100px;
    max-width:200px;
    min-height:50px;
}

.genresContainer {
    font-size: 15px;
    display:inline-flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
}

.labelTitle {
    font-size: 25px;
}
.divgenre {
    display:flow-root;
}

.platforms {
    font-size: 18px;
    display:inline-flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 800;
}

.btn {
    cursor:pointer;
    width: 20%;
    border-radius: 40%;
    margin-left: 0vh;
    padding: 10px 20px;
    border-radius: 17px;
    outline: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    background-color: var(list-style-type);
    box-shadow: 15px 6px 23px 10px rgba(49, 228, 33, 0.53);
}
.btn:hover{
    color:rgb(255, 89, 89);
 }

.error {
    border: 4px solid rgb(224, 54, 54);
}
