
.creategame {
    background-image: url('../../jpg/8.jpg');
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    position:absolute;
    text-align:center;
    font-weight: 50;
}

.wrapper {
    height: 578px;
    text-align: center;
    padding-top: 5px;
}

/* background: linear-gradient(100deg, #fbfbfb 30%, #000000 150%); */
.container {
    border-radius: 2%;
    background: rgba(255, 255, 255, 0.4);
    margin: auto;
    height: 800px;
    width: 500px;
}

.title {
    font-size: 35px;
    margin: 20px;
    padding: 10px;
}

.textarea {
    max-height: 100px;
    max-width:200px;
    min-height:50px;
}

.genresContainer {
    font-size: 15px;
    display:inline-flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 800;
}

.labelTitle {
    font-size: 22px;
}
.divgenre {
    display:flow-root;
}

.platformsContainer {
    font-size: 15px;
    display:inline-flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 800;
}

.btn {
 cursor: pointer;
  width: 18%;
  border-radius: 50%;
  margin: auto;
  padding: 10px 30px;
  border-radius: 12px;
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  background-color: var(list-style-type);
  box-shadow: 12px 8px 23px 10px rgba(1, 60, 255, 0.53);
}

.error {
    border: 4px solid rgb(224, 54, 54);
}
