.s{
   position:fixed;
   width: 100%;
   height: 100%;
   margin:0;
   background-image: url('../../jpg/car4.png');
   background-position: center center;
   background-size:cover;
   background-attachment: fixed;
   display:grid;

}

.info{
   display: flex;
   align-items: center;
   justify-content: center;
}
.text {
   color: rgb(0, 0, 0);
   text-shadow: rgb(243, 243, 243);
   text-shadow: 0.2em 0.5em 0.1em rgb(0, 255, 76),-0.3em 0.1em 0.1em rgb(0, 119, 255), 0.4em -0.3em 0.1em rgb(255, 255, 255);
   align-items: center;
   justify-content: center;
   display:inline-flex;
   font-size: 45px;
}

.boton {
   cursor:pointer;
   width: 150%;
   border-radius: 400%;
   margin-left: 0vh;
   padding: 10px 20px;
   border-radius: 17px;
   outline: none;
   border: none;
   font-size: 20px;
   cursor: pointer;
   background-color: var(list-style-type);
   box-shadow: 15px 6px 25px 10px rgb(49, 228, 33);
   
}

.boton2 {
   cursor:pointer;
   width: 170%;
   border-radius: 400%;
   margin-left: 0vh;
   padding: 10px 20px;
   border-radius: 17px;
   outline: none;
   border: none;
   font-size: 20px;
   cursor: pointer;
   background-color: var(list-style-type);
   box-shadow: 15px 6px 25px 10px rgb(49, 228, 33);
   
}
.boton:hover{
   color:rgb(255, 89, 89);
}
.boton2:hover{
   color:rgb(255, 89, 89);
}




